body {
    font-family:barlow, sans-serif;
    background-color: #116466;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    margin: 0;
    color: white;
  }

.title {
    display: flex;
    justify-content: center;
    font-size: 24px;
  }

images {
  flex-shrink: 0;
}
.header {
  height: 72px;
  background: #2c3531;
  color: white;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  font-size: 32px;
  padding-left: 0 16 px;
  font-weight: 900;
}

.body {
  flex: 1 ;
  display: flex;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.footer {
  height: 72px;
  background: #116466;
  color: white;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 32px;
}

.sidebar {
  width: 300px;
  background: #2c3531;
  flex-shrink: 0;
  padding: 16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 16px;
  margin: 16px;
  width: 300px;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 16px;
}

